body 				{background:tomato;margin:0;}
header nav 			{width:100%;position:fixed;top:0;padding:1em;background:yellow;}
section 			{padding:1em;margin-top:6em;}
section#home	 	{background:grey;}
section#list		{background:blue;display:none;}